body{
	margin-top: 70px;
}
.main-header h1 a{
	text-decoration: none;

}

.currentUser{
	font-size: 50px;
	color: #5e5e5e;
}

div.login-link-text {
  margin-top: 36px;
  font-size: 18px;
}
.add-receipe{
	padding-left: 10px;
}