<head>
  <title>Travel Recipes</title>
  <link href='https://fonts.googleapis.com/css?family=Pinyon+Script|Philosopher:400,700|Tenor+Sans' rel='stylesheet' type='text/css'>
</head>

<template name="layout">
	<header>
    <div>
      <img src="/travelrecipes_logo_whitebg.png" class="logo">
      <a href="/"><span class="site-name">Travel Recipes</span></a>
    </div>

    {{#if rwindow.innerWidth 'lte' 700}}
      <div id="hamburger"></div>
    {{else}}
      {{#if currentUser}}
  	    <a class="button headerButton" href="/recipes/add" role="button">
           New recipe
        </a>
      {{/if}}

      {{> loginButtons align="right"}}
    {{/if}}
  </header>

  {{> yield}}
</template>
