<head>
  <title>Travel Recipes</title>
  <link href='https://fonts.googleapis.com/css?family=Pinyon+Script|Philosopher:400,700|Tenor+Sans' rel='stylesheet' type='text/css'>
</head>

<template name="layout">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container col-lg-8 col-lg-offset-1">
      <div class="navbar-header">
          <h3>
            <img src="travelrecipes_logo_whitebg.png" class="logo">
            <a href="/"><span class="site-name">Travel Recipes</span></a>
          {{#if currentUser}}
				    <a class="btn btn-info" href="/recipes/add" role="button">
              <span class="glyphicon glyphicon-plus add-recipe" title="Add Receipe"></span>
               Create new recipe
            </a>
          {{/if}}
				  </h3>
      </div>

      <ul class="nav navbar-nav navbar-right">
          <li>{{> loginButtons align="right"}}</li>
      </ul>
    </div>
	</nav>

  {{> yield}}
</template>
