/******************************
	Colors
******************************/

$light-blue: #44C1FF;
$medium-blue: #00A3F4;
$dark-blue: #007FBE;

$light-grey: #737386;
$dark-grey: #1D1C36;


/******************************
	Fonts
******************************/

$very-curly-font: 'Pinyon Script', cursive;
$slightly-curly-font: 'Philosopher', sans-serif;
$not-curly-font: 'Tenor Sans', sans-serif;


/******************************
	General
******************************/

html {
	margin: 0;
}

body {
	background-color: white;
  color: $dark-grey;
	margin: 0;
	font-family: $not-curly-font;
}

.container {
	max-width: 700px;
	margin: 20px auto 50px auto;
}

a,
a:visited,
a:active,
a:focus {
	color: $medium-blue;
	text-decoration: none;
}

a:hover {
	color: $light-blue;
	text-decoration: none;
}

h3 {
	color: $light-grey;
}


/******************************
	Header
******************************/

header {
	position: fixed;
	top: 0;
	background-color: white;
	width: 100%;
	height: 65px;
	padding: 12px 20px 15px 20px;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	justify-content: space-between;
}

.site-name {
	font-family: $slightly-curly-font;
	font-weight: 400;
	font-size: 32px;
	background: -webkit-linear-gradient($dark-blue, $light-blue);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#hamburger {
	width: 32px;
	height: 24px;
	margin-top: 11px;
	cursor: pointer;
	background-image: url('hamburger_blue.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

#hamburger:hover {
	background-image: url('hamburger_lightblue.png');
}

.headerButton {
	font-size: 14px;
	margin-top: 6px;
	padding: 6px 12px;
	font-family: $not-curly-font;
}

.headerButton:hover {
	color: white;
}

#login-buttons {
	margin-top: 11px;
}

#login-buttons a {
	font-size: 20px;
}


/******************************
	Banners
******************************/

.banner {
	color: white;
	font-size: 72px;
	font-family: $very-curly-font;
	text-align: center;

	margin-top: 70px;
	padding: 75px 20px 0 20px;
	height: 300px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (max-width: 700px){
	.banner {
		font-size: 44px;
		padding: 50px 10px 0 10px;
		height: 200px;
	}
}


/******************************
	Recipe list
******************************/

.thumb {
	/* width for mobile */
	width: 100%;
	height: 300px;
	display: inline-block;
	margin: 0 -2px;
	padding: 15px;
	padding-bottom: 5px;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 1;

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.thumb p {
	color: white;
	margin: 0;
}

.thumb p.name {
	font-family: $slightly-curly-font;
	font-weight: 400;
	font-size: 20px;
}

@media screen and (min-width: 500px) {
	.thumb {
		width: 50%;
	}
}

@media screen and (min-width: 1000px) {
	.thumb {
		width: 33.33%;
	}
}

@media screen and (min-width: 1500px) {
	.thumb {
		width: 25%;
	}
}

@media screen and (min-width: 2000px) {
	.thumb {
		width: 20%;
	}
}


/******************************
	Detailed view
******************************/

.additional-details {
  display: none;
}

.additional-details img {
	max-width: 400px;
}

#recipe-info p {
	font-size: 16px;
	margin-top: 5px;
}

#recipe-info h2 {
	margin-bottom: 0;
}

#recipe-info h3 {
	margin: 5px 0 0 0;
}

.main-img {
	max-width: 600px;
}

li.ingredientPic {
	list-style: none;
}

ul#ingredients_list {
	font-size: 20px;
}

ul#ingredients_list li {
	list-style: none;
}


/******************************
	Forms
******************************/

label {
	font-family: $slightly-curly-font;
	font-size: 20px;
	font-weight: 400;
}

input:not(.button),
textarea:not(.button) {
	border: none;
	border-bottom: 1px solid $light-blue;
	width: 100%;
	margin: 5px 0 25px 0;
}

.button {
	color: white !important;
	font-family: $slightly-curly-font;
	font-size: 18px;
	background-color: $medium-blue;
	padding: 8px 16px;
	display: block;
	margin: 0 auto;
	border: none;
	border-radius: 3px;
	letter-spacing: 0.035em
}

.button:hover {
	background-color: $light-blue;
}
