.additional-details{
  display: none;
}
.additional-details img{
	max-width: 400px;
}
#recipe-info{
	padding-top:20px;
}

#recipe-info p{
	font-size: 16px;
	margin-top: 5px;
}

#recipe-info h2{
	margin-bottom: 0;
}
#recipe-info h3{
	margin: 5px 0 0 0;
}
.main-img{
	max-width: 600px;
}

li.ingredientPic{
	list-style: none;
}

ul#ingredients_list{
	font-size: 20px;
	
}

ul#ingredients_list li{
	list-style: none;

}