body{
	margin-top: 70px;
	margin-bottom: 100px;
}
.main-header h1 a{
	text-decoration: none;
}

h3{
	color: #5e5e5e;
}

div.login-link-text {
  margin-top: 36px;
  font-size: 18px;
}
.add-recipe{
	padding-left: 10px;
}
ul.nav.navbar-nav.navbar-right{
	margin-top: 20px;
}
#login-buttons a{
	font-size: 20px;
}