body {
	margin-top: 100px;
	background-color: #D7DCED;
}
.logo{
	width: 60px;
}
#wrapper h3,#wrapper h4,#wrapper h5{
	color: #5f5f5f;
}


#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}

#columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
}
body{
	margin-top: 70px;
	margin-bottom: 100px;
}
.main-header h1 a{
	text-decoration: none;
}

h3{
	color: #5e5e5e;
}

div.login-link-text {
  margin-top: 36px;
  font-size: 18px;
}
.add-recipe{
	padding-left: 10px;
}
ul.nav.navbar-nav.navbar-right{
	margin-top: 20px;
}
#login-buttons a{
	font-size: 20px;
}


/******************************
	Splash page
******************************/

.banner_image {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 435px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("/login_image2.jpg");
	z-index: -1;
}

h1 {
	font-size: 80px;
}

.title {
	margin:auto;
	margin-top: 85px;
	color: white;
	font-weight: bold;
	text-align: center;
}

.nav_ul li {
	float: right;
	padding-right: 50px;
	margin-top: 20px;
}

.nav_ul {
	display: inline;
	list-style-type: none;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 20px;
  color: white;
  font-family: avenir, sans-serif;
}

#lower_half {
	margin-top: 170px;
	font-size: 2em;
	text-align: center;
}


/******************************
	Recipe list
******************************/

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin img {
	width: 222px;
	height: 164px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	max-width: 256px;
	font: 16px/24px Arial, sans-serif;
	color: #333;
	margin: 0;
}
.pin p.name{
	font-weight: bold;
}

@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}


/******************************
	Detailed view
******************************/

.additional-details{
  display: none;
}
.additional-details img{
	max-width: 400px;
}
#recipe-info{
	padding-top:20px;
}

#recipe-info p{
	font-size: 16px;
	margin-top: 5px;
}

#recipe-info h2{
	margin-bottom: 0;
}
#recipe-info h3{
	margin: 5px 0 0 0;
}
.main-img{
	max-width: 600px;
}

li.ingredientPic{
	list-style: none;
}

ul#ingredients_list{
	font-size: 20px;

}

ul#ingredients_list li{
	list-style: none;

}
