/******************************
	Constants
*******************************

light blue: #44C1FF
medium blue: #00A3F4
dark blue: #007FBE

very curly text: font-family: 'Pinyon Script', cursive;
slightly curly text: font-family: 'Philosopher', sans-serif;
not curly sans text: font-family: 'Tenor Sans', sans-serif;


/******************************
	General
******************************/

html {
	margin: 0;
}

body {
	background-color: white;
	margin: 0;
	font-family: 'Tenor Sans', sans-serif;
}

a {
	color: #00A3F4;
	text-decoration: none;
}

a:hover {
	color: #44C1FF;
	text-decoration: none;
}

h3 {
	color: #5e5e5e;
}

.container {
	max-width: 700px;
	margin: 20px auto 50px auto;
}

label {
	font-family: 'Philosopher', sans-serif;
	font-size: 20px;
	font-weight: 400;
}

input:not(.button),
textarea:not(.button) {
	border: none;
	border-bottom: 1px solid #44C1FF;
	width: 100%;
	margin: 5px 0 25px 0;
}

.button {
	color: white;
	font-family: 'Philosopher', sans-serif;
	font-size: 24px;
	background-color: #00A3F4;
	padding: 8px 16px;
	display: block;
	margin: 0 auto;
	border: none;
	border-radius: 3px;
	letter-spacing: 0.035em
}

.button:hover {
	background-color: #44C1FF;
}


/******************************
	Header
******************************/

header {
	position: fixed;
	top: 0;
	background-color: white;
	width: 100%;
	height: 70px;
	padding: 10px 20px 15px 20px;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	justify-content: space-between;
}

#wrapper h3, #wrapper h4, #wrapper h5 {
	color: #5f5f5f;
}

#wrapper {
	width: 100%;
	margin-top: 78px;
}

.logo {
	width: 50px;
	margin-right: 5px;
	margin-bottom: 15px;
}

.site-name {
	font-family: 'Philosopher', sans-serif;
	font-weight: 400;
	font-size: 32px;
	background: -webkit-linear-gradient(#007FBE, #44C1FF);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#hamburger {
	width: 32px;
	height: 24px;
	margin-top: 13px;
	cursor: pointer;
	background-image: url('hamburger_blue.png');
	background-size: 100%;
	background-repeat: no-repeat;
}

#hamburger:hover {
	background-image: url('hamburger_lightblue.png');
}

.headerButton {
	font-size: 14px;
	margin-top: 10px;
	font-family: 'Tenor Sans', sans-serif;
}

.headerButton:hover {
	color: white;
}

#login-buttons {
	margin-top: 15px;
}

#login-buttons a {
	font-size: 20px;
}


/******************************
	Splash page
******************************/

h1 {
	font-size: 72px;
}

.banner {
	margin-top: 70px;
	padding-top: 75px;
	height: 300px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
}

.banner h1 {
	margin:auto;
	color: white;
	font-family: 'Pinyon Script', cursive;
	text-align: center;
}

@media screen and (max-width: 700px){
	.banner {
		padding-top: 50px;
		height: 200px;
	}

	.banner h1 {
		font-size: 44px;
	}
}

.nav_ul li {
	float: right;
	padding-right: 50px;
	margin-top: 20px;
}

.nav_ul {
	display: inline;
	list-style-type: none;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 20px;
  color: white;
  font-family: avenir, sans-serif;
}

#lower_half {
	margin-top: 170px;
	font-size: 2em;
	text-align: center;
}


/******************************
	Recipe list
******************************/

.pin {
	/* width for mobile */
	width: 100%;
	height: 400px;
	display: inline-block;
	margin: 0 -2px;
	padding: 15px;
	padding-bottom: 5px;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 1;

	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.pin p {
	/*font: 16px/24px Arial, sans-serif;*/
	color: white;
	margin: 0;
}

.pin p.name {
	font-family: 'Philosopher', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

@media screen and (min-width: 800px) {
	.pin {
		width: 50%;
	}
}

@media screen and (min-width: 1200px) {
	.pin {
		width: 33.33%;
	}
}

@media screen and (min-width: 1600px) {
	.pin {
		width: 25%;
	}
}

@media screen and (min-width: 2000px) {
	.pin {
		width: 20%;
	}
}


/******************************
	Detailed view
******************************/

.additional-details {
  display: none;
}

.additional-details img {
	max-width: 400px;
}

#recipe-info p {
	font-size: 16px;
	margin-top: 5px;
}

#recipe-info h2 {
	margin-bottom: 0;
}

#recipe-info h3 {
	margin: 5px 0 0 0;
}

.main-img {
	max-width: 600px;
}

li.ingredientPic {
	list-style: none;
}

ul#ingredients_list {
	font-size: 20px;
}

ul#ingredients_list li {
	list-style: none;
}
